.row
  .col-4.offset-4
    -if @tickets.count.zero?
      empty
    -else
      -@tickets.each do |ticket|
        =link_to(ticket_path(ticket), class: 'ticket') do
          =ticket.request_number
          .ticket-icon
            =image_tag(asset_path('ticket.png', alt: 'ticket icon'))
