.row
  #tickets.mt-5.col-6.offset-3
    -if @tickets.count.zero?
      empty
    -else
      -@tickets.each do |ticket|
        =link_to(ticket_path(ticket)) do
          .ticket.border-bottom
            =ticket.request_number
            .ticket-icon
              =image_tag(asset_path('ticket.png', alt: 'ticket icon'))
