// Place all the styles related to the tickets controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 1px rgba(105, 105, 105, 0.5);
  border-radius: 15px;
  margin-bottom: 5px;
}

.ticket:hover {
  background: #BBBBBB;
  cursor: pointer;
}

.ticket-icon {
  position: absolute;
  left: 0;
  margin-left: 10px;
}

a[class=ticket] {
  color: black;
}
